@{
    ViewBag.Title = "Create";
}
@section Scripts{
    <script src="~/Scripts/ctrls/PeopleGroupEdit.js"></script>
}

<p><h2>編輯群組</h2><button id="btnDelete" type="button">刪除</button></p>

<p>所屬廠區：<input id="factoryList" required /></p>
<p>群組名稱：<input id="txtGroupName" type="text" placeholder="群組名稱" required /></p>
<p>選擇人員：<button id="btnAdd" type="button">+加入更多</button></p>

<div id="dialog-form" title="人員選擇器">
    @*<form>
        <fieldset>*@
    <p>
        <input id="searchBar" type="search" placeholder="部門或人員關鍵字" />
        <button id="btnSearch" type="button">搜尋</button>
    </p>
    <div>
        <div id="peopleGrid"></div>
    </div>

    <!-- Allow form submission with keyboard without duplicating the dialog button -->
    @*<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">*@
    @*</fieldset>
        </form>*@
</div>
<div>
    <div id="grid"></div>
</div>
<button id="btnSave" type="button">儲存</button>
<button id="btnCancel" type="button">取消</button>
